<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sevenfresh.dao.mapper.FileMapper">

    <insert id="insertFile" parameterType="sevenfresh.domain.AutoScriptFile" >
        insert into user_autotest_file(filename,filepath)
        VALUES(#{filename},#{filepath})
    </insert>

</mapper>